@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Urbanist&family=Nunito&display=swap');

@import 'tailwindcss';

@theme {
	--font-figtree: 'Figtree', sans-serif;
	--font-urbanist: 'Urbanist', sans-serif;
	--font-nunito: 'Nunito', sans-serif;

	--color-primary: #fc004e;
	--color-secondary: #10cbe0;
	--color-tertiary: #ababab;
	--color-quaternary: #a9a9a9;

	--color-dark: #010101;

	--gradient-primary-secondary: linear-gradient(
		90deg,
		var(--color-primary) 0%,
		var(--color-secondary) 100%
	);

	--breakpoint-xs: 390px;
}
